[pre-commit-hook]
limit=9.0

[MESSAGES CONTROL]

disable=
    broad-except,
    cyclic-import,
    duplicate-code,
    global-statement,
    no-member,
    unnecessary-pass,
    wrong-import-position,
    logging-format-interpolation,
    too-many-lines,
    invalid-name,
    no-self-use,
    too-few-public-methods,
    too-many-public-methods,
    wildcard-import,
    unused-wildcard-import
